<div class="row">
<% @posts.each do |post| %>
<div class="col-sm-12">
<div class ="img-thumbnail"> 
   <%= image_tag post.image.url(:medium) %>
   <div class ="cen">
   <p><%= post.description %></p>
      <% @p = post.comments.length %>
   <p>Views all total <%= @p %> comments </p>
   <p><%= render post.comments%></p>
  </div>
  </div>
</div>

<%end %>
</div>
